<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7"  lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7"  lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8"  lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"  lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html class="js" dir="ltr" lang="en">
<!--<![endif]-->
<head>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta charset="utf-8">
    <link href="http://www.nyccfb.info/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <title>[Insert Title Here] | New York City Campaign Finance Board</title>

    <meta content="width" name="MobileOptimized">
    <meta content="true" name="HandheldFriendly">
    <meta content="width=device-width" name="viewport">
    <meta content="on" http-equiv="cleartype">
    <style>
      @import url("http://www.nyccfb.info/modules/system/system.base.css?ntnor6");
    </style>
    <style>
      @import url("http://www.nyccfb.info/sites/all/themes/cfb15/css/styles.css?ntnor6");
      @import url("http://www.nyccfb.info/sites/all/themes/cfb15/css/page.css?ntnor6");
    </style>    
</head>
<body class="html">
    <div class="headerwrap">
        <header class="header" id="header" role="banner">            
            <div class="region region-header">
                <div class="block block-block first odd" id="block-block-19">                    
                </div><!-- /.block -->
                <div class="block block-cfbblocks last even" id="block-cfbblocks-sitetop">
                    <div class="headright">
                        <div class="headercenter">
                            <a href="http://www.nyccfb.info/about">About the CFB</a>
                            <a href="http://www.nyccfb.info/media">News &amp; Media</a>
                            <a href="https://caccess.nyccfb.info/" target="_blank">C-Access</a>
                            <a href="https://ieds.nyccfb.info/Public/Login.aspx" target="_blank">IEDS</a>
                        </div>
                        <div class="headermedia">
                            <span class="mediaicon"><a href="https://twitter.com/nyccfb" target="_blank"><img src="NYCCFB/twitter.png"></a></span>
                            <span class="mediaicon"><a href="http://www.youtube.com/user/nyccfb" target="_blank"><img src="NYCCFB/youTube.png"></a></span>
                            <span class="mediaicon"><a href="http://www.facebook.com/nycvotes" target="_blank"><img src="NYCCFB/facebook.png"></a></span>
                            <span class="mediaicon"><a href="http://www.instagram.com/nycvotes" target="_blank"><img src="NYCCFB/Instagram.png"></a></span> 
                            <span class="mediaicon"><a href="https://twitter.com/@nycvotes" target="_blank"><img src="NYCCFB/twitter-nycvotes.png"></a></span>
                        </div>
                        <div class="block block-search first odd" id="block-search-form" role="search">
                            <form accept-charset="UTF-8" action="/site-search" id="search-block-form" method="get" name="search-block-form">
                                <div class="container-inline">
                                    <div class="form-item form-type-textfield form-item-search-block-form">
                                    <input class="form-text" id="edit-search-block-form--2" maxlength="128" name="gcs" placeholder="Search CFB" size="15" title="Enter the terms you wish to search for." type="text">
                                    </div>
                                    <div class="form-actions form-wrapper" id="edit-actions">
                                        <input class="form-submit" id="edit-submit" name="op" type="submit" value="Search">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                    
                </div><!-- /.block -->
            </div><!-- /.region -->
        </header>
    </div><!-- end of headerwraper -->
    <div class="navigationwraper">
        <div id="navigation">
            <div class="sitelogo">
                <a href="http://www.nyccfb.info/"><img src="NYCCFB/site-logo.png"></a>
            </div>
            <h2 class="mobileheading">Main menu</h2>
            <div class="navsection">
                <div class="region region-navigation">
                    <div class="block block-menu-block first last odd" id="block-menu-block-4" role="navigation">
                        <div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-0 menu-level-1">
                        <ul class="menu">
                                <li class="first expanded active-trail active menu-mlid-2460">
                                <a class="active-trail active" href="http://www.nyccfb.info/follow-the-money">Follow the Money</a>
                                    <ul class="menu">
                                        <li class="first leaf menu-mlid-2490">
                                            <a href="http://www.nyccfb.info/database" title="">CFB Searchable Database</a>
                                        </li>
                                        <li class="leaf menu-mlid-2828">
                                            <a href="http://www.nyccfb.info/VSApps/WebForm_Finance_Summary.aspx?as_election_cycle=2013&amp;sm=press_12&amp;sm=press_12" title="">Campaign Finance Summary</a>
                                        </li>
                                        <li class="expanded menu-mlid-2935">
                                            <a href="http://www.nyccfb.info/follow-the-money/reports">Campaign Finance Reports</a>
                                            <ul class="menu">
                                                <li class="first leaf menu-mlid-2905">
                                                    <a href="http://www.nyccfb.info/follow-the-money/candidates/2017" title="">Candidate List</a>
                                                </li>
                                                <li class="leaf menu-mlid-2649">
                                                    <a href="http://www.nyccfb.info/VSApps/PreElectionSummaryAll.aspx?as_election_cycle=2015&amp;as_type=SPG&amp;sm=press_dbdb14" title="">Daily Pre-Election Disclosure Summary</a>
                                                </li>
                                                <li class="leaf menu-mlid-2653">
                                                    <a href="http://www.nyccfb.info/VSApps/DoingBusinessSummary.aspx?as_election_cycle=2013&amp;sm=press_dbdb" title="">Doing Business Summary</a>
                                                </li>
                                                <li class="leaf menu-mlid-2950">
                                                    <a href="http://www.nyccfb.info/follow-the-money/latemissing-disclosure" title="">Late/Missing Disclosures</a>
                                                </li>
                                                <li class="leaf menu-mlid-2949">
                                                    <a href="http://www.nyccfb.info/follow-the-money/registered-political-committees" title="">Registered Political Committees</a>
                                                </li>
                                                <li class="last leaf menu-mlid-2952">
                                                    <a href="http://www.nyccfb.info/follow-the-money/statements-of-need/2015-general" title="">Statements of Need</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="expanded menu-mlid-2936">
                                            <a href="http://www.nyccfb.info/follow-the-money/analysis">Analysis</a>
                                            <ul class="menu">
                                                <li class="first leaf menu-mlid-2694"><a href="http://www.nyccfb.info/follow-the-money/data-library">Data Library</a>
                                                </li>
                                                <li class="last leaf menu-mlid-2948">
                                                    <a href="http://www.nyccfb.info/follow-the-money/independent-expenditure-impact-charts">Independent Expenditure Impact Charts</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="last expanded menu-mlid-2934">
                                            <a href="http://www.nyccfb.info/follow-the-money/post-election">Post-Election/Enforcement</a>
                                            <ul class="menu">
                                                <li class="first leaf menu-mlid-2909">
                                                    <a href="http://www.nyccfb.info/follow-the-money/final-audit-report/2013" title="">Final Audit Reports/Final Board Determinations (FARs/FBDs)</a>
                                                </li>
                                                <li class="leaf menu-mlid-2910">
                                                    <a href="http://www.nyccfb.info/follow-the-money/outstanding-penalties/2013A" title="">Outstanding Penalties &amp; Repayments</a>
                                                </li>
                                                <li class="leaf menu-mlid-2911">
                                                    <a href="http://www.nyccfb.info/follow-the-money/registered-ties/2013T" title="">Registered TIEs</a>
                                                </li>
                                                <li class="leaf menu-mlid-2912">
                                                    <a href="http://www.nyccfb.info/follow-the-money/transition-and-inauguration-entity-determinations">TIE Determinations</a>
                                                </li>
                                                <li class="last leaf menu-mlid-2913">
                                                    <a href="http://www.nyccfb.info/follow-the-money/final-board-determinations-involving-independent-spenders" title="">Final Board Determinations Involving Independent Spenders</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="expanded menu-mlid-300">
                                    <a href="http://www.nyccfb.info/program">Matching Funds Program</a>
                                    <ul class="menu">
                                        <li class="first leaf menu-mlid-2883">
                                            <a href="http://www.nyccfb.info/program/how-it-works">How It Works</a>
                                        </li>
                                        <li class="leaf menu-mlid-2884">
                                            <a href="http://www.nyccfb.info/program/benefits">Benefits</a>
                                        </li>
                                        <li class="leaf menu-mlid-2885">
                                            <a href="http://www.nyccfb.info/program/impact-of-public-funds">Impact of Public Funds</a>
                                        </li>
                                        <li class="leaf menu-mlid-2886">
                                            <a href="http://www.nyccfb.info/program/campaign-finance-resources">Campaign Finance Resources</a>
                                        </li>
                                        <li class="last leaf menu-mlid-2898">
                                            <a href="http://www.nyccfb.info/candidate-services/join" title="">How to Enroll</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="expanded menu-mlid-2462">
                                    <a href="http://www.nyccfb.info/candidate-services">Candidate Services</a>
                                    <ul class="menu">
                                        <li class="first expanded menu-mlid-2892">
                                            <a href="http://www.nyccfb.info/candidate-services/getting-started">Start Your Campaign</a>
                                            <ul class="menu">
                                                <li class="first last leaf menu-mlid-2896">
                                                <a href="http://www.nyccfb.info/candidate-services/join">Join the Matching Funds Program</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="leaf menu-mlid-2897">
                                            <a href="http://www.nyccfb.info/candidate-services/limits-thresholds/2017">Limits &amp; Thresholds</a>
                                        </li>
                                        <li class="leaf menu-mlid-2832">
                                            <a href="http://www.nyccfb.info/candidate-services/disclosure-deadlines/2017">Disclosure Deadlines</a>
                                        </li>
                                        <li class="expanded menu-mlid-2829">
                                            <a href="http://www.nyccfb.info/candidate-services/campaign-resources">Campaign Resources</a>
                                            <ul class="menu">
                                                <li class="first leaf menu-mlid-691">
                                                    <a href="http://www.nyccfb.info/candidate-services/handbook">Campaign Finance Handbook</a>
                                                </li>
                                                <li class="leaf menu-mlid-2900">
                                                    <a href="http://www.nyccfb.info/candidate-services/forms">Forms &amp; Guidance</a>
                                                </li>
                                                <li class="leaf menu-mlid-2903">
                                                    <a href="http://www.nyccfb.info/candidate-services/trainings" title="">Trainings</a>
                                                </li>
                                                <li class="leaf menu-mlid-2902">
                                                    <a href="http://www.nyccfb.info/candidate-services/special-elections">Special Elections</a>
                                                </li>
                                                <li class="leaf menu-mlid-2893">
                                                    <a href="http://www.nyccfb.info/law/file-complaint" title="">How to File a Complaint</a>
                                                </li>
                                                <li class="last leaf menu-mlid-2895">
                                                    <a href="http://www.nyccfb.info/candidate-services/doing-business-faqs">Doing Business FAQ</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="last expanded menu-mlid-699">
                                            <a href="http://www.nyccfb.info/candidate-services/post-election">Post-Election</a>
                                            <ul class="menu">
                                                <li class="first leaf menu-mlid-2914">
                                                    <a href="http://www.nyccfb.info/candidate-services/post-election/audit">Audit Process</a>
                                                </li>
                                                <li class="leaf menu-mlid-2894">
                                                    <a href="http://www.nyccfb.info/candidate-services/post-election/resources">Post-Election Information</a>
                                                </li>
                                                <li class="last leaf menu-mlid-2899">
                                                    <a href="http://www.nyccfb.info/candidate-services/post-election/tie">Transition and Inauguration Entities (TIEs)</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="expanded menu-mlid-701">
                                    <a href="http://www.nyccfb.info/independent-expenditures">Independent Expenditures</a>
                                    <ul class="menu">
                                        <li class="first leaf menu-mlid-2901">
                                            <a href="http://www.nyccfb.info/independent-expenditures/about-ies">About Independent Expenditures (IEs)</a>
                                        </li>
                                        <li class="expanded menu-mlid-2834">
                                            <a href="http://www.nyccfb.info/independent-expenditures/independent-spender-resources">Independent Spender Resources</a>
                                            <ul class="menu">
                                                <li class="first leaf menu-mlid-2479">
                                                    <a href="http://www.nyccfb.info/independent-expenditures/guidance" title="">Independent Spender Guide</a>
                                                </li>
                                                <li class="leaf menu-mlid-2833">
                                                    <a href="http://www.nyccfb.info/independent-expenditures/ie-filing-deadlines/2017" title="">IE Filing Deadlines</a>
                                                </li>
                                                <li class="leaf menu-mlid-3391">
                                                    <a href="http://www.nyccfb.info/independent-expenditures/trainings" title="">IE Trainings</a>
                                                </li>
                                                <li class="last leaf menu-mlid-2891">
                                                    <a href="http://www.nyccfb.info/law/file-complaint" title="">How to File a Complaint</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="last leaf menu-mlid-2837">
                                            <a href="http://www.nyccfb.info/independent-expenditures/ie-enforcement">IE Enforcement</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="expanded menu-mlid-304">
                                    <a href="http://www.nyccfb.info/law-rules">Law &amp; Rules</a>
                                    <ul class="menu">
                                        <li class="first leaf menu-mlid-2544">
                                            <a href="http://www.nyccfb.info/law/act">Campaign Finance Act</a>
                                        </li>
                                        <li class="leaf menu-mlid-2530">
                                            <a href="http://www.nyccfb.info/law/charter">NYC Charter</a>
                                        </li>
                                        <li class="expanded menu-mlid-776">
                                            <a href="http://www.nyccfb.info/law/rules">CFB Rules</a>
                                            <ul class="menu">
                                                <li class="first last leaf menu-mlid-2861">
                                                    <a href="http://www.nyccfb.info/law/rules/proposed-rules" title="">Proposed Rules</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="expanded menu-mlid-2464">
                                            <a href="http://www.nyccfb.info/law/advisory-opinions" title="Advisory Opinions">Advisory Opinions (AOs)</a>
                                            <ul class="menu">
                                                <li class="first last leaf menu-mlid-2631">
                                                    <a href="http://www.nyccfb.info/law/advisory-opinion-requests" title="Advisory Opinion Requests page">Requests</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="leaf menu-mlid-2475">
                                            <a href="http://www.nyccfb.info/law/final-determinations" title="Final Determinations">Final Board Determinations (FBDs)</a>
                                        </li>
                                        <li class="leaf menu-mlid-694">
                                            <a href="http://www.nyccfb.info/law/penalty-guidelines/2013">Penalty Guidelines</a>
                                        </li>
                                        <li class="leaf menu-mlid-3400">
                                            <a href="http://www.nyccfb.info/law/file-complaint" title="">How to File a Complaint</a>
                                        </li>
                                        <li class="last leaf menu-mlid-2472">
                                            <a href="http://www.nyccfb.info/law/foil">Freedom of Information Law (FOIL)</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="last expanded menu-mlid-2461">
                                    <a href="http://www.nyccfb.info/nyc-votes">NYC Votes</a>
                                    <ul class="menu">
                                        <li class="first leaf menu-mlid-3395">
                                            <a href="http://www.nyccfb.info/nyc-votes/about-nycvotes" title="">About NYC Votes</a>
                                        </li>
                                        <li class="expanded menu-mlid-707">
                                            <a href="http://www.nyccfb.info/nyc-votes/registering">Registering to Vote</a>
                                            <ul class="menu">
                                                <li class="first last leaf menu-mlid-2839">
                                                    <a href="https://voterlookup.elections.state.ny.us/" title="">Look Up Your Voter Registration</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="expanded menu-mlid-2526">
                                            <a href="http://www.nyccfb.info/nyc-votes/how-to-vote">How to Vote</a>
                                            <ul class="menu">
                                                <li class="first leaf menu-mlid-2706">
                                                    <a href="http://nyc.pollsitelocator.com/Search.aspx" title="">Find Your Polling Site</a>
                                                </li>
                                                <li class="leaf menu-mlid-2917">
                                                    <a href="http://www.nyccfb.info/nyc-votes/election-calendar" title="">Election Calendar</a>
                                                </li>
                                                <li class="leaf menu-mlid-2527">
                                                    <a href="http://www.nyccfb.info/nyc-votes/vote-absentee">Vote Absentee</a>
                                                </li>
                                                <li class="leaf menu-mlid-3393">
                                                    <a href="http://www.nyccfb.info/nyc-votes/your-rights-voter" title="">Your Rights as a Voter</a>
                                                </li>
                                                <li class="last leaf menu-mlid-2945">
                                                    <a href="http://www.nyccfb.info/nyc-votes/faq">Frequently Asked Questions (FAQ)</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="expanded menu-mlid-703">
                                            <a href="http://www.nyccfb.info/nyc-votes/voter-guide">NYC Voter Guide</a>
                                            <ul class="menu">
                                                <li class="first last leaf menu-mlid-3398">
                                                <a href="http://www.nyccfb.info/nyc-votes/voter-guide/past-voter-guides">Past Voter Guides</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="leaf menu-mlid-704">
                                            <a href="http://www.nyccfb.info/nyc-votes/debate-videos" title="">Candidate Debates</a>
                                        </li>
                                        <li class="expanded menu-mlid-2529">
                                            <a href="http://www.nyccfb.info/nyc-votes/community-programs">Community Programs</a>
                                            <ul class="menu">
                                                <li class="first leaf menu-mlid-2938">
                                                    <a href="http://www.nyccfb.info/nyc-votes/programs/voter-registration">Agency-Based Voter Registration</a>
                                                </li>
                                                <li class="leaf menu-mlid-2939">
                                                    <a href="http://www.nyccfb.info/nyc-votes/programs/nvrd">National Voter Registration Day (NVRD)</a>
                                                </li>
                                                <li class="leaf menu-mlid-2940">
                                                    <a href="http://www.nyccfb.info/nyc-votes/programs/naturalization-ceremonies">Naturalization Ceremonies</a>
                                                </li>
                                                <li class="last leaf menu-mlid-2937">
                                                    <a href="http://www.nyccfb.info/nyc-votes/programs/voter-day">Voter Day</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="expanded menu-mlid-2842">
                                            <a href="http://www.nyccfb.info/nyc-votes/youth-programs">Youth Programs</a>
                                            <ul class="menu">
                                                <li class="first leaf menu-mlid-2941">
                                                    <a href="http://www.nyccfb.info/nyc-votes/programs/svrd">Student Voter Registration Day (SVRD)</a>
                                                </li>
                                                <li class="leaf menu-mlid-2942">
                                                    <a href="http://www.nyccfb.info/nyc-votes/programs/ypl">Youth Poet Laureate (YPL)</a>
                                                </li>
                                                <li class="last leaf menu-mlid-2943">
                                                    <a href="http://www.nyccfb.info/nyc-votes/programs/youth-voting-workshop">Youth Voting Workshop</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="last expanded menu-mlid-2586">
                                            <a href="http://www.nyccfb.info/nyc-votes/get-involved">Get Involved</a>
                                            <ul class="menu">
                                                <li class="first leaf menu-mlid-2933">
                                                    <a href="http://www.nyccfb.info/nyc-votes/vaac-meeting" title="">Come to a VAAC Meeting</a>
                                                </li>
                                                <li class="leaf menu-mlid-2944">
                                                    <a href="http://www.nyccfb.info/nyc-votes/partners">NYC Votes Partners</a>
                                                </li>
                                                <li class="last leaf menu-mlid-2925">
                                                    <a href="http://www.nyccfb.info/nyc-votes/partner-tools-and-resources">Partner Tools &amp; Resources</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.block -->
                </div><!-- /.region -->
            </div>
        </div><!-- /.block -->
    </div><!-- /.region -->
    
    <div class="mainwrap">
        <div id="page">
            <!-- Content goes here -->
            <h1>Insert Content Here</h1>
            <!-- Content goes here -->
        </div>        
    </div>
    

    <div class="bottomnav">
        <div class="region region-navigation">
            <div class="region region-navigation">
                <div class="block block-menu-block" id="block-menu-block-4" role="navigation">
                    <div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-0 menu-level-1">
                    <ul class="menu">
                            <li class="first expanded active-trail active menu-mlid-2460">
                                <a class="active-trail active" href="http://www.nyccfb.info/follow-the-money">Follow the Money</a>
                                <ul class="menu">
                                    <li class="first leaf menu-mlid-2490">
                                        <a href="http://www.nyccfb.info/database" title="">CFB Searchable Database</a>
                                    </li>
                                    <li class="leaf menu-mlid-2828">
                                        <a href="http://www.nyccfb.info/VSApps/WebForm_Finance_Summary.aspx?as_election_cycle=2013&amp;sm=press_12&amp;sm=press_12" title="">Campaign Finance Summary</a>
                                    </li>
                                    <li class="expanded menu-mlid-2935">
                                        <a href="http://www.nyccfb.info/follow-the-money/reports">Campaign Finance Reports</a>
                                        <ul class="menu">
                                            <li class="first leaf menu-mlid-2905">
                                                <a href="http://www.nyccfb.info/follow-the-money/candidates/2017" title="">Candidate List</a>
                                            </li>
                                            <li class="leaf menu-mlid-2649">
                                                <a href="http://www.nyccfb.info/VSApps/PreElectionSummaryAll.aspx?as_election_cycle=2015&amp;as_type=SPG&amp;sm=press_dbdb14" title="">Daily Pre-Election Disclosure Summary</a>
                                            </li>
                                            <li class="leaf menu-mlid-2653">
                                                <a href="http://www.nyccfb.info/VSApps/DoingBusinessSummary.aspx?as_election_cycle=2013&amp;sm=press_dbdb" title="">Doing Business Summary</a>
                                            </li>
                                            <li class="leaf menu-mlid-2950">
                                                <a href="http://www.nyccfb.info/follow-the-money/latemissing-disclosure" title="">Late/Missing Disclosures</a>
                                            </li>
                                            <li class="leaf menu-mlid-2949">
                                                <a href="http://www.nyccfb.info/follow-the-money/registered-political-committees" title="">Registered Political Committees</a>
                                            </li>
                                            <li class="last leaf menu-mlid-2952">
                                                <a href="http://www.nyccfb.info/follow-the-money/statements-of-need/2015-general" title="">Statements of Need</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded menu-mlid-2936">
                                        <a href="http://www.nyccfb.info/follow-the-money/analysis">Analysis</a>
                                        <ul class="menu">
                                            <li class="first leaf menu-mlid-2694">
                                                <a href="http://www.nyccfb.info/follow-the-money/data-library">Data Library</a>
                                            </li>
                                            <li class="last leaf menu-mlid-2948">
                                                <a href="http://www.nyccfb.info/follow-the-money/independent-expenditure-impact-charts">Independent Expenditure Impact Charts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="last expanded menu-mlid-2934">
                                        <a href="http://www.nyccfb.info/follow-the-money/post-election">Post-Election/Enforcement</a>
                                        <ul class="menu">
                                            <li class="first leaf menu-mlid-2909">
                                                <a href="http://www.nyccfb.info/follow-the-money/final-audit-report/2013" title="">Final Audit Reports/Final Board Determinations (FARs/FBDs)</a>
                                            </li>
                                            <li class="leaf menu-mlid-2910">
                                                <a href="http://www.nyccfb.info/follow-the-money/outstanding-penalties/2013A" title="">Outstanding Penalties &amp; Repayments</a>
                                            </li>
                                            <li class="leaf menu-mlid-2911">
                                                <a href="http://www.nyccfb.info/follow-the-money/registered-ties/2013T" title="">Registered TIEs</a>
                                            </li>
                                            <li class="leaf menu-mlid-2912">
                                                <a href="http://www.nyccfb.info/follow-the-money/transition-and-inauguration-entity-determinations">TIE Determinations</a>
                                            </li>
                                            <li class="last leaf menu-mlid-2913">
                                                <a href="http://www.nyccfb.info/follow-the-money/final-board-determinations-involving-independent-spenders" title="">Final Board Determinations Involving Independent Spenders</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded menu-mlid-300">
                                <a href="http://www.nyccfb.info/program">Matching Funds Program</a>
                                <ul class="menu">
                                    <li class="first leaf menu-mlid-2883">
                                        <a href="http://www.nyccfb.info/program/how-it-works">How It Works</a>
                                    </li>
                                    <li class="leaf menu-mlid-2884">
                                        <a href="http://www.nyccfb.info/program/benefits">Benefits</a>
                                    </li>
                                    <li class="leaf menu-mlid-2885">
                                        <a href="http://www.nyccfb.info/program/impact-of-public-funds">Impact of Public Funds</a>
                                    </li>
                                    <li class="leaf menu-mlid-2886">
                                        <a href="http://www.nyccfb.info/program/campaign-finance-resources">Campaign Finance Resources</a>
                                    </li>
                                    <li class="last leaf menu-mlid-2898">
                                        <a href="http://www.nyccfb.info/candidate-services/join" title="">How to Enroll</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded menu-mlid-2462">
                                <a href="http://www.nyccfb.info/candidate-services">Candidate Services</a>
                                <ul class="menu">
                                    <li class="first expanded menu-mlid-2892">
                                        <a href="http://www.nyccfb.info/candidate-services/getting-started">Start Your Campaign</a>
                                        <ul class="menu">
                                            <li class="first last leaf menu-mlid-2896">
                                                <a href="http://www.nyccfb.info/candidate-services/join">Join the Matching Funds Program</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="leaf menu-mlid-2897">
                                        <a href="http://www.nyccfb.info/candidate-services/limits-thresholds/2017">Limits &amp; Thresholds</a>
                                    </li>
                                    <li class="leaf menu-mlid-2832">
                                        <a href="http://www.nyccfb.info/candidate-services/disclosure-deadlines/2017">Disclosure Deadlines</a>
                                    </li>
                                    <li class="expanded menu-mlid-2829">
                                        <a href="http://www.nyccfb.info/candidate-services/campaign-resources">Campaign Resources</a>
                                        <ul class="menu">
                                            <li class="first leaf menu-mlid-691">
                                                <a href="http://www.nyccfb.info/candidate-services/handbook">Campaign Finance Handbook</a>
                                            </li>
                                            <li class="leaf menu-mlid-2900">
                                                <a href="http://www.nyccfb.info/candidate-services/forms">Forms &amp; Guidance</a>
                                            </li>
                                            <li class="leaf menu-mlid-2903">
                                                <a href="http://www.nyccfb.info/candidate-services/trainings" title="">Trainings</a>
                                            </li>
                                            <li class="leaf menu-mlid-2902">
                                                <a href="http://www.nyccfb.info/candidate-services/special-elections">Special Elections</a>
                                            </li>
                                            <li class="leaf menu-mlid-2893">
                                                <a href="http://www.nyccfb.info/law/file-complaint" title="">How to File a Complaint</a>
                                            </li>
                                            <li class="last leaf menu-mlid-2895">
                                                <a href="http://www.nyccfb.info/candidate-services/doing-business-faqs">Doing Business FAQ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="last expanded menu-mlid-699">
                                        <a href="http://www.nyccfb.info/candidate-services/post-election">Post-Election</a>
                                        <ul class="menu">
                                            <li class="first leaf menu-mlid-2914">
                                                <a href="http://www.nyccfb.info/candidate-services/post-election/audit">Audit Process</a>
                                            </li>
                                            <li class="leaf menu-mlid-2894">
                                                <a href="http://www.nyccfb.info/candidate-services/post-election/resources">Post-Election Information</a>
                                            </li>
                                            <li class="last leaf menu-mlid-2899">
                                                <a href="http://www.nyccfb.info/candidate-services/post-election/tie">Transition and Inauguration Entities (TIEs)</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded menu-mlid-701">
                                <a href="http://www.nyccfb.info/independent-expenditures">Independent Expenditures</a>
                                <ul class="menu">
                                    <li class="first leaf menu-mlid-2901">
                                        <a href="http://www.nyccfb.info/independent-expenditures/about-ies">About Independent Expenditures (IEs)</a>
                                    </li>
                                    <li class="expanded menu-mlid-2834">
                                        <a href="http://www.nyccfb.info/independent-expenditures/independent-spender-resources">Independent Spender Resources</a>
                                        <ul class="menu">
                                            <li class="first leaf menu-mlid-2479">
                                                <a href="http://www.nyccfb.info/independent-expenditures/guidance" title="">Independent Spender Guide</a>
                                            </li>
                                            <li class="leaf menu-mlid-2833">
                                                <a href="http://www.nyccfb.info/independent-expenditures/ie-filing-deadlines/2017" title="">IE Filing Deadlines</a>
                                            </li>
                                            <li class="leaf menu-mlid-3391">
                                                <a href="http://www.nyccfb.info/independent-expenditures/trainings" title="">IE Trainings</a>
                                            </li>
                                            <li class="last leaf menu-mlid-2891">
                                                <a href="http://www.nyccfb.info/law/file-complaint" title="">How to File a Complaint</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="last leaf menu-mlid-2837">
                                        <a href="http://www.nyccfb.info/independent-expenditures/ie-enforcement">IE Enforcement</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded menu-mlid-304">
                                <a href="http://www.nyccfb.info/law-rules">Law &amp; Rules</a>
                                <ul class="menu">
                                    <li class="first leaf menu-mlid-2544">
                                        <a href="http://www.nyccfb.info/law/act">Campaign Finance Act</a>
                                    </li>
                                    <li class="leaf menu-mlid-2530">
                                        <a href="http://www.nyccfb.info/law/charter">NYC Charter</a>
                                    </li>
                                    <li class="expanded menu-mlid-776">
                                        <a href="http://www.nyccfb.info/law/rules">CFB Rules</a>
                                        <ul class="menu">
                                            <li class="first last leaf menu-mlid-2861">
                                                <a href="http://www.nyccfb.info/law/rules/proposed-rules" title="">Proposed Rules</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded menu-mlid-2464">
                                        <a href="http://www.nyccfb.info/law/advisory-opinions" title="Advisory Opinions">Advisory Opinions (AOs)</a>
                                        <ul class="menu">
                                            <li class="first last leaf menu-mlid-2631">
                                                <a href="http://www.nyccfb.info/law/advisory-opinion-requests" title="Advisory Opinion Requests page">Requests</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="leaf menu-mlid-2475">
                                        <a href="http://www.nyccfb.info/law/final-determinations" title="Final Determinations">Final Board Determinations (FBDs)</a>
                                    </li>
                                    <li class="leaf menu-mlid-694">
                                        <a href="http://www.nyccfb.info/law/penalty-guidelines/2013">Penalty Guidelines</a>
                                    </li>
                                    <li class="leaf menu-mlid-3400">
                                        <a href="http://www.nyccfb.info/law/file-complaint" title="">How to File a Complaint</a>
                                    </li>
                                    <li class="last leaf menu-mlid-2472">
                                        <a href="http://www.nyccfb.info/law/foil">Freedom of Information Law (FOIL)</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="last expanded menu-mlid-2461">
                                <a href="http://www.nyccfb.info/nyc-votes">NYC Votes</a>
                                <ul class="menu">
                                    <li class="first leaf menu-mlid-3395">
                                        <a href="http://www.nyccfb.info/nyc-votes/about-nycvotes" title="">About NYC Votes</a>
                                    </li>
                                    <li class="expanded menu-mlid-707">
                                        <a href="http://www.nyccfb.info/nyc-votes/registering">Registering to Vote</a>
                                        <ul class="menu">
                                            <li class="first last leaf menu-mlid-2839">
                                                <a href="https://voterlookup.elections.state.ny.us/" title="">Look Up Your Voter Registration</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded menu-mlid-2526">
                                        <a href="http://www.nyccfb.info/nyc-votes/how-to-vote">How to Vote</a>
                                        <ul class="menu">
                                            <li class="first leaf menu-mlid-2706">
                                                <a href="http://nyc.pollsitelocator.com/Search.aspx" title="">Find Your Polling Site</a>
                                            </li>
                                            <li class="leaf menu-mlid-2917">
                                                <a href="http://www.nyccfb.info/nyc-votes/election-calendar" title="">Election Calendar</a>
                                            </li>
                                            <li class="leaf menu-mlid-2527">
                                                <a href="http://www.nyccfb.info/nyc-votes/vote-absentee">Vote Absentee</a>
                                            </li>
                                            <li class="leaf menu-mlid-3393">
                                                <a href="http://www.nyccfb.info/nyc-votes/your-rights-voter" title="">Your Rights as a Voter</a>
                                            </li>
                                            <li class="last leaf menu-mlid-2945">
                                                <a href="http://www.nyccfb.info/nyc-votes/faq">Frequently Asked Questions (FAQ)</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded menu-mlid-703">
                                        <a href="http://www.nyccfb.info/nyc-votes/voter-guide">NYC Voter Guide</a>
                                        <ul class="menu">
                                            <li class="first last leaf menu-mlid-3398">
                                                <a href="http://www.nyccfb.info/nyc-votes/voter-guide/past-voter-guides">Past Voter Guides</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="leaf menu-mlid-704">
                                        <a href="http://www.nyccfb.info/nyc-votes/debate-videos" title="">Candidate Debates</a>
                                    </li>
                                    <li class="expanded menu-mlid-2529">
                                        <a href="http://www.nyccfb.info/nyc-votes/community-programs">Community Programs</a>
                                        <ul class="menu">
                                            <li class="first leaf menu-mlid-2938">
                                                <a href="http://www.nyccfb.info/nyc-votes/programs/voter-registration">Agency-Based Voter Registration</a>
                                            </li>
                                            <li class="leaf menu-mlid-2939">
                                                <a href="http://www.nyccfb.info/nyc-votes/programs/nvrd">National Voter Registration Day (NVRD)</a>
                                            </li>
                                            <li class="leaf menu-mlid-2940">
                                                <a href="http://www.nyccfb.info/nyc-votes/programs/naturalization-ceremonies">Naturalization Ceremonies</a>
                                            </li>
                                            <li class="last leaf menu-mlid-2937">
                                                <a href="http://www.nyccfb.info/nyc-votes/programs/voter-day">Voter Day</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded menu-mlid-2842">
                                        <a href="http://www.nyccfb.info/nyc-votes/youth-programs">Youth Programs</a>
                                        <ul class="menu">
                                            <li class="first leaf menu-mlid-2941">
                                                <a href="http://www.nyccfb.info/nyc-votes/programs/svrd">Student Voter Registration Day (SVRD)</a>
                                            </li>
                                            <li class="leaf menu-mlid-2942">
                                                <a href="http://www.nyccfb.info/nyc-votes/programs/ypl">Youth Poet Laureate (YPL)</a>
                                            </li>
                                            <li class="last leaf menu-mlid-2943">
                                                <a href="http://www.nyccfb.info/nyc-votes/programs/youth-voting-workshop">Youth Voting Workshop</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="last expanded menu-mlid-2586">
                                        <a href="http://www.nyccfb.info/nyc-votes/get-involved">Get Involved</a>
                                        <ul class="menu">
                                            <li class="first leaf menu-mlid-2933">
                                                <a href="http://www.nyccfb.info/nyc-votes/vaac-meeting" title="">Come to a VAAC Meeting</a>
                                            </li>
                                            <li class="leaf menu-mlid-2944">
                                                <a href="http://www.nyccfb.info/nyc-votes/partners">NYC Votes Partners</a>
                                            </li>
                                            <li class="last leaf menu-mlid-2925">
                                                <a href="http://www.nyccfb.info/nyc-votes/partner-tools-and-resources">Partner Tools &amp; Resources</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.block -->
            </div><!-- /.region -->
        </div><!-- /.region -->
    </div>

    <div class="footerwrap">
        <footer class="region region-footer" id="footer">
            <div class="block block-boxes block-boxes-simple first odd" id="block-boxes-box-footer">
                <div class="boxes-box" id="boxes-box-box_footer">
                    <div class="boxes-box-content">
                        <div class="bottomlogo">
                            <div class="bmlogo"><img src="NYCCFB/bmlogo.png"></div>
                        </div>
                        <div class="footerextra">
                            <div class="footerleft">
                                <ul>
                                    <li>
                                        <a href="http://www.nyccfb.info/about">About the CFB</a>
                                    </li>
                                    <li>
                                        <a href="http://www.nyccfb.info/media">News &amp; Media</a>
                                    </li>
                                    <li>
                                        <a href="http://www.nycvotes.org/">NYCVotes.org</a>
                                    </li>
                                    <li>
                                        <a href="http://www.nyccfb.info/about/contact">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="http://www.nyccfb.info/about/careers">Career Opportunities</a>
                                    </li>
                                    <li>
                                        <a href="http://www.nyccfb.info/about/vendors">Vendor Opportunities</a>
                                    </li>
                                    <li>
                                        <a href="http://www.nyccfb.info/privacy">Privacy Policy</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footerright">
                                <ul>
                                    <li>© 2016 New York City Campaign Finance Board</li>
                                    <li>100 Church Street, 12th Floor, New York, NY 10007</li>
                                    <li class="tel">212.409.1800</li>
                                </ul>
                            </div>
                        </div>
                        <div class="footermedia">
                            <span class="mediaicon"><a href="https://twitter.com/nyccfb" target="_blank"><img src="NYCCFB/twitter.png"></a></span>
                            <span class="mediaicon"><a href="http://www.youtube.com/user/nyccfb" target="_blank"><img src="NYCCFB/youTube.png"></a></span>
                            <span class="mediaicon"><a href="http://www.facebook.com/nycvotes" target="_blank"><img src="NYCCFB/facebook.png"></a></span>
                            <span class="mediaicon"><a href="http://www.instagram.com/nycvotes" target="_blank"><img src="NYCCFB/Instagram.png"></a></span> 
                            <span class="mediaicon"><a href="https://twitter.com/@nycvotes" target="_blank"><img src="NYCCFB/twitter-nycvotes.png"></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.block -->         
        </footer>
        <!-- region__footer -->
    </div>    
</body>
</html>