<script type="text/template" id="legend-composite">
    <div class='legend-title'><%- getAmountTypeTitle(type) %> Contributions<br/>from Individuals</div>
    <ul class="legend-items list-unstyled"></ul>
    <div class="city-council-legend-item" style="display:none;">
        <img src="~/img/selecteddistrict.gif" />
        <span></span>
    </div>
    <div class="selected-district-legend-item" style="display:none;">
        <span style="background: url('~/img/selecteddistrict-purple.gif') no-repeat;display:inline-block;padding-left:24px;padding-bottom:2px;"></span>
    </div>
    <!--<div class='legend-source'>Source: <a href="#link to source">Name of source</a></div>-->
</script>