<script type="text/template" id="tooltip-total">
    <div style="text-align:left;">
        "Total" represents contributions from individuals in the following categories:
        <ul>
            <li>in NYC &amp; shown on the map;</li>
            <li>in NYC but with inadequate addresses to show on map; and</li>
            <li>outside NYC.</li>
        </ul>
        Overall, less than 6% of contributions from individuals in NYC are omitted from the map due to missing, incomplete, or incorrect street addresses in the original data provided to the Campaign Finance Board.
    </div>
</script>